@model ImageSharing.Models.LoginModel
@{
    ViewBag.Title = "LoginPage";
}
@using ImageSharing.Models;
@{
    ActionModel action = new ActionModel();
    TitleModel title = new TitleModel();
}
@section Body{
    <div id="LoginContainer">
        <h2>@Html.LabelFor(m=>title.Login)</h2>

        @using (Html.BeginForm("Login", "Home"))
        {
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
            <br />
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
            <br />
            
            <a href="@Url.Action("RecoveryPage", "Home")">
                <div>
                    @Html.LabelFor(m => m.ForgotYourPassword)
                </div>
            </a>
            <br />
            <div class="ReferenceContainer">
                <a href="javascript:{}" onclick="$('#LoginContainer>form').submit(); return false;">
                    <div>
                        @Html.LabelFor(m => action.Login)
                    </div>
                </a>
            </div>
            <h2>@ViewBag.Message</h2>
        }
    </div>
    @Scripts.Render("~/bundles/jqueryval")
}