@model ImageSharing.Models.LoginModel
@{
    ViewBag.Title = "LoginPage";
}
@using ImageSharing.Models;
@{
    ActionModel action = new ActionModel();
    TitleModel title = new TitleModel();
    MessagesModel messages = new MessagesModel();
}
@section Body{
    <div id="LoginContainer">
        <h2>@Html.LabelFor(m => title.Login)</h2>

        @using (Html.BeginForm("Login", "Home"))
        {
            @Html.LabelFor(m => m.Email)
            <input data-val="true" data-val-length="@Html.LabelFor(m => messages.MinLengthMessage).ToString() 3" data-val-length-max="100" data-val-length-min="3" data-val-required="@Html.LabelFor(m => messages.FieldRequiredMessage).ToString()" id="Email" name="Email" type="text" value="" class="input-validation-error" />
            <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
            <br />
            @Html.LabelFor(m => m.Password)
            <input data-val="true" data-val-length="@Html.LabelFor(m => messages.MinLengthMessage).ToString() 6" data-val-length-max="100" data-val-length-min="6" data-val-required="@Html.LabelFor(m => messages.FieldRequiredMessage).ToString()" id="Password" name="Password" type="password" value="" class="input-validation-error" />
            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            <br />
            
            <a href="@Url.Action("RecoveryPage", "Home")">
                <div>
                    @Html.LabelFor(m => m.ForgotYourPassword)
                </div>
            </a>
            <br />
            <div class="ReferenceContainer">
                <a href="javascript:{}" onclick="$('#LoginContainer>form').submit(); return false;">
                    <div>
                        @Html.LabelFor(m => action.Login)
                    </div>
                </a>
            </div>
            <h2>@if (ViewBag.Message != null) { Html.LabelFor(m => messages.AuthenticationIncorrectMessage); }</h2>
        }
    </div>
    @Scripts.Render("~/bundles/jqueryval")
}