@model ImageSharing.Models.RegisterModel
@{
    ViewBag.Title = "RegisterPage";
}
@using ImageSharing.Models;
@{
    ActionModel action = new ActionModel();
    TitleModel title = new TitleModel();
    MessagesModel messages = new MessagesModel();
}
@section Body{
    <div id="RegisterContainer">
        <h2>@Html.LabelFor(m=>title.Register)</h2>
        <q>@Html.LabelFor(m=>messages.EmailMessage)</q><br /><br />
        @using (Html.BeginForm("Register", "Home"))
        {
            @Html.AntiForgeryToken()
    
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
            <br />
            @Html.LabelFor(m => m.Surname)
            @Html.TextBoxFor(m => m.Surname)
            @Html.ValidationMessageFor(m => m.Surname)
            <br />
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
            <br />
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
            <br />
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
            <br /><br />
            <div class="ReferenceContainer">
                <a href="javascript:{}" onclick="$('#RegisterContainer>form').submit(); return false;">
                    <div>
                        @Html.LabelFor(m => action.Register)
                    </div>
                </a>
            </div>
        }
    </div>
    @Scripts.Render("~/bundles/jqueryval")
}