@model List<ImageSharing.Models.EntityInfo.UserAccountInfo>

@{
    ViewBag.Title = "UsersPage";
}
@section Body
{
    <div id="UsersContainer">
        @foreach(ImageSharing.Models.EntityInfo.UserAccountInfo user in Model)
        {
            <div id="UserInfoContainer">
                <div id="AvatarImageContainer">
                    <img src="@Url.Content(@"..\..\..\..\Content\AvatarImages\"+user.AvatarName)" alt="Avatar"/>
                </div>
                <div id="NickContainer">
                    <a href="@Url.Action("UserPage", "Home", new { area = "", id = user.ID })">
                        @user.Surname @user.Name
                    </a>
                </div>
            </div>
        }
        <h2>@ViewBag.SearchResult</h2>
    </div>
}