@model ImageSharing.Models.EntityInfo.UserAccountInfo

@{
    ViewBag.Title = "UserPage";
}
@using ImageSharing.Models;
@{
    ActionModel action = new ActionModel();
}
@section Body{
    <div id="AvatarContainer">
        <div id="AvatarImageContainer">
            <img src="@Url.Content(@"..\..\..\..\Content\AvatarImages\" + Model.AvatarName)" alt="Avatar" />
        </div>
        <div id="NickContainer">
            @Model.Surname @Model.Name
        </div>
        <div id="RelationshipButtonsContainer">
            @{
                if (HttpContext.Current.Request.Cookies != null &&
                             HttpContext.Current.Request.Cookies["Role"] != null &&
                             (HttpContext.Current.Request.Cookies["Role"].Value == "admin" ||
                             HttpContext.Current.Request.Cookies["Role"].Value == "user"))
                {
                    if (ViewBag.ThereIsRequest == "false")
                    {
                        if (ViewBag.IsFriend == "false")
                        {
                <div id="MakeFriendButton">
                    <form action="@Url.Action("MakeFriend", "UserHome", new { area = "User", id = Model.ID })">
                        <div class="ReferenceContainer">
                            <a href="javascript:{}" onclick="$('#MakeFriendButton>form').submit(); return false;">
                                <div>
                                    @Html.LabelFor(m => action.MakeFriend)
                                </div>
                            </a>
                        </div>
                    </form>
                </div>
                    }
                    if (ViewBag.IsFriend == "true")
                    {
                <div id="RemoveFriendButton">
                    <form action="@Url.Action("RemoveFriend", "UserHome", new { area = "User", id = Model.ID })">
                        <div class="ReferenceContainer">
                            <a href="javascript:{}" onclick="$('#RemoveFriendButton>form').submit(); return false;">
                                <div>
                                    @Html.LabelFor(m => action.RemoveFriend)
                                </div>
                            </a>
                        </div>
                    </form>
                </div>
                        if (ViewBag.IsFollow == "false")
                        {
                <div id="FollowButton">
                    <form action="@Url.Action("Follow", "UserHome", new { area = "User", id = Model.ID })">
                        <div class="ReferenceContainer">
                            <a href="javascript:{}" onclick="$('#FollowButton>form').submit(); return false;">
                                <div>
                                    @Html.LabelFor(m => action.Follow)
                                </div>
                            </a>
                        </div>
                    </form>
                </div>
                           }
                           if (ViewBag.IsFollow == "true")
                           {
                <div id="UnfollowButton">
                    <form action="@Url.Action("Unfollow", "UserHome", new { area = "User", id = Model.ID })">
                        <div class="ReferenceContainer">
                            <a href="javascript:{}" onclick="$('#UnfollowButton>form').submit(); return false;">
                                <div>
                                    @Html.LabelFor(m => action.Unfollow)
                                </div>
                            </a>
                        </div>
                    </form>
                </div>
                           }
                    }
                }
                else
                {<p>You sended a request to this user.</p>}

            }
            }
        </div>
    </div>
    <div id="TapeContainer">
        @foreach (ImageSharing.Models.EntityInfo.PostInfo post in Model.Tape.Posts)
        {
            <div id="PostContainer">
                <div id="PostImageContainer" onclick="ShowPopup(@post.ID);">
                    <img src="@Url.Content(@"..\..\..\..\Content\UploadedImages\" + post.ImageName)" alt="Image"/>
                </div>
                <div id="PostDescriptionContainer">
                    @post.Author.Surname @post.Author.Name @post.DateTime.ToShortDateString() at @post.DateTime.ToShortTimeString()
                </div>
            </div>
            
            <div id="PopupPostContainer_@post.ID" class="table-responsive" style="display:none;">
                <div id="PopupPostImageContainer">
                    <img src="@Url.Content(@"..\..\..\..\Content\UploadedImages\" + post.ImageName)" alt="Image"/>
                </div>
                <div id="PopupPostUserInfoContainer">
                    @post.Author.Surname @post.Author.Name @post.DateTime.ToShortDateString() at @post.DateTime.ToShortTimeString()<br />
                    <br />
                    @post.Description<br />
                    <br />
                </div>

                <div id="PopupPostCommentsContainer">
                    <div id="PopupPostAddCommentContainer">
                        @{
                            var options = new AjaxOptions()
                            {
                                UpdateTargetId = "CommentsContainer_" + post.ID,
                                Url = Url.Action("Comments", "UserHome", new { area = "User", id = post.ID }),
                            };
                        }
                        @using (Ajax.BeginForm(options))
                        {
                            <input type="text" name="PostID" value="@post.ID" style="display:none;" />
                            <input type="text" name="Comment" placeholder="" />
                            <div class="ReferenceContainer">
                                <a href="javascript:{}" onclick="$('#PopupPostAddCommentContainer>form').submit(); return false;">
                                    <div>
                                        @Html.LabelFor(m => action.Send)
                                    </div>
                                </a>
                            </div>
                            
                            <div id="CommentsContainer_@post.ID">
                                @Html.Action("Comments", "UserHome", new { area = "User", id = post.ID })
                            </div>
                        }
                    </div>
                </div>
            </div>
            
        }
    </div>
     @{
             if (HttpContext.Current.Request.Cookies != null &&
                          HttpContext.Current.Request.Cookies["Role"] != null &&
                          (HttpContext.Current.Request.Cookies["Role"].Value == "admin" ||
                          HttpContext.Current.Request.Cookies["Role"].Value == "user"))
             {
         <script type="text/javascript">
             function ShowPopup(id) {
                 $("#PopupPostContainer_" + id.toString()).dialog({
                     height: window.innerHeight * 0.8,
                     width: window.innerWidth * 0.8,
                     modal: true,
                 });
             }
         </script>
             }
             }
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
