@model ImageSharing.Models.ChangeAccountModel

@{
    ViewBag.Title = "AccountPage";
}
@using ImageSharing.Models;
@{
    ActionModel action = new ActionModel();
}
@section Body
{
    <div id="AccountContainer">
        @using (Html.BeginForm("ChangeAccountInfo", "UserHome", FormMethod.Post, new { area = "User", enctype = "multipart/form-data" }))
        {
            <div id="ChangeAvatarContainer">
                <img src="@Url.Content(@"..\..\..\..\Content\AvatarImages\" + Model.Avatar)" alt="Avatar" /><br />
                <input type="file" name="Avatar" /><br />
            </div><br />
            <br />
    
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
            <br /><br />
            @Html.LabelFor(m => m.Surname)
            @Html.TextBoxFor(m => m.Surname)
            @Html.ValidationMessageFor(m => m.Surname)
            <br /><br />
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
            <br /><br />
            @Html.LabelFor(m => m.Password)
            @Html.TextBoxFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
            <br /><br />
            <div class="ReferenceContainer">
            <a href="javascript:{}" onclick="$('#AccountContainer>form').submit(); return false;">
                <div>
                    @Html.LabelFor(m => action.Save)
                </div>
            </a>
        </div>
        }
    </div>
    @Scripts.Render("~/bundles/jqueryval")
}