@model ImageSharing.Models.EntityInfo.UserAccountInfo

@{
    ViewBag.Title = "Home";
}
@using ImageSharing.Models;
@{
    ActionModel action = new ActionModel();
    MessagesModel messages = new MessagesModel();
}
@section Body{
    
    <div id="AvatarContainer">
        <div id="AvatarImageContainer">
            <img src="@Url.Content(@"..\..\..\..\Content\AvatarImages\"+Model.AvatarName)" alt="Avatar" />
        </div>
        <div id="NickContainer">
            @Model.Surname @Model.Name (@Html.LabelFor(m=>messages.IdentifierMessage))
        </div>
    </div>
    <div id="TapeContainer">
        <div id="AddPostContainer">
            @using (Html.BeginForm("UploadPost", "UserHome", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="upload" multiple />
                @Html.LabelFor(m=>messages.Description) <input type="text" name="Description" />
                <div class="ReferenceContainer">
                    <a href="javascript:{}" onclick="$('#AddPostContainer>form').submit(); return false;">
                        <div>
                            @Html.LabelFor(m => action.Upload)
                        </div>
                    </a>
                </div>
            }
        </div>
        @foreach (ImageSharing.Models.EntityInfo.PostInfo post in Model.Tape.Posts)
        {
            <div id="PostContainer">
                <div id="PostImageContainer" onclick="ShowPopup(@post.ID);">
                    <img src="@Url.Content(@"..\..\..\..\Content\UploadedImages\" + post.ImageName)" alt="Image"/>
                </div>
                <div id="PostDescriptionContainer">
                    @post.Author.Surname @post.Author.Name @post.DateTime.ToShortDateString() @post.DateTime.ToShortTimeString()
                </div>
                <div id="DeleteButton_@post.ID">
                    @using (Html.BeginForm("RemovePost", "UserHome", new { area = "User", id = post.ID }))
                    {
                        <div class="ReferenceContainer">
                            <a href="javascript:{}" onclick="$('#DeleteButton_@post.ID>form').submit(); return false;">
                                <div>
                                    @Html.LabelFor(m => action.Delete)
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div id="PopupPostContainer_@post.ID" class="table-responsive" style="display:none;">
                <div id="PopupPostImageContainer">
                    <img src="@Url.Content(@"..\..\..\..\Content\UploadedImages\" + post.ImageName)" alt="Image"/>
                </div>
                <div id="PopupPostUserInfoContainer">
                    @post.Author.Surname @post.Author.Name @post.DateTime.ToShortDateString() @post.DateTime.ToShortTimeString()<br />
                    <br />
                    @if (post.Author.ID == int.Parse(HttpContext.Current.Request.Cookies["ID"].Value))
                    {
                        var descriptionsOptions = new AjaxOptions()
                        {
                            UpdateTargetId = "PopupPostDescriptionContainer_" + post.ID,
                            Url = Url.Action("Descriptions", "UserHome", new { area = "User", id = post.ID }),
                        };
                        using (Ajax.BeginForm(descriptionsOptions))
                        {
                        <div id="PopupPostDescriptionContainer_@post.ID">
                            @Html.Action("Descriptions", "UserHome", new { area = "User", id = post.ID })
                        </div>
                        }
                    }
                    else
                    {@post.Description<br />}
                    <br />
                    <br />
                </div>

                <div id="PopupPostCommentsContainer">
                    <div id="PopupPostAddCommentContainer_@post.ID">
                        @{
                            var commentsOptions = new AjaxOptions()
                            {
                                UpdateTargetId = "CommentsContainer_" + post.ID,
                                Url = Url.Action("Comments", "UserHome", new { area = "User", id = post.ID }),
                            };
                        }
                        @using (Ajax.BeginForm(commentsOptions))
                        {
                            <input type="text" name="PostID" value="@post.ID" style="display:none;" />
                            <input type="text" name="Comment" placeholder="" />
                            <div class="ReferenceContainer">
                                <a href="javascript:{}" onclick="$('#PopupPostAddCommentContainer_@post.ID>form').submit(); return false;">
                                    <div>
                                        @Html.LabelFor(m => action.Send)
                                    </div>
                                </a>
                            </div>
                            
                            <div id="CommentsContainer_@post.ID">
                                @Html.Action("Comments", "UserHome", new { area = "User", id = post.ID })
                            </div>
                        }
                    </div>

                </div>
            </div>
        }
    </div>
    
    <script type="text/javascript">
        function ShowPopup(id) {
            $("#PopupPostContainer_" + id.toString()).dialog({
                height: window.innerHeight * 0.8,
                width: window.innerWidth * 0.8,
                modal: true,
            });
        }
    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
