@model IEnumerable<ImageSharing.Models.EntityInfo.SubscriptionInfo>

@{
    ViewBag.Title = "SubscriptionsPage";
}
@using ImageSharing.Models;
@using ImageSharing.Models.EntityInfo;
@{
    ActionModel action = new ActionModel();
    SubscriptionInfo subInfo = new SubscriptionInfo();
}
@section Body
{
   
    <div id="SubscriptionsContainer">
        @using (Html.BeginForm("SearchSubscriptions", "UserHome"))
        {
            <input type="text" name="searchString" />
            <div class="ReferenceContainer">
                <a href="javascript:{}" onclick="$('#SubscriptionsContainer>form').submit(); return false;">
                    <div>
                        @Html.LabelFor(m => action.Search)
                    </div>
                </a>
            </div>
        }<br />
        <table id="SubscriptionsTable">
            <thead>
                <tr>
                    <td>@Html.LabelFor(m=>subInfo.UserName)</td>
                    <td>@Html.LabelFor(m=>subInfo.Surname)</td>
                    <td>@Html.LabelFor(m=>subInfo.PostsCount)</td>
                    <td>@Html.LabelFor(m=>action.Action)</td>
                </tr>
            </thead>
            @foreach (ImageSharing.Models.EntityInfo.SubscriptionInfo sub in Model)
            {
                <tr>
                    <td>@sub.UserName</td>
                    <td>@sub.Surname</td>
                    <td>@sub.PostsCount</td>
                    <td>
                        <div class="ReferenceContainer">
                            <a href="@Url.Action("Unfollow", "UserHome", new { area = "User", id = sub.friendId })">
                                <div>
                                    @Html.LabelFor(m => action.Unfollow)
                                </div>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
}
