@using ImageSharing.Models;
@{
    LayoutModel layoutModel = new LayoutModel();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/PopupStyle")
    <link href="~/Content/PopupStyle/jquery-ui.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/Content/SiteStyle.css" />
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="MainContainer">
        <div id="HeaderContainer">
            <div id="HeaderContentContainer">
                <div id="HeaderContentContainerRow">

                    @{if(HttpContext.Current.Request.Cookies != null && 
                          HttpContext.Current.Request.Cookies["Role"] != null && 
                          (HttpContext.Current.Request.Cookies["Role"].Value == "admin"||
                          HttpContext.Current.Request.Cookies["Role"].Value=="user"))
                      {
                    <div id="NavigationContainer">
                        <div id="NavigationContainerRow">
                            <div class="ReferenceContainer">
                                <a href="@Url.Action("Home","UserHome",new {area="User"})">
                                    <div>
                                        @Html.LabelFor(m=>layoutModel.Home)
                                    </div>
                                </a>
                            </div>

                            <div class="ReferenceContainer">
                                <a href="@Url.Action("FriendsPage","UserHome",new {area="User"})">
                                    <div>
                                        @Html.LabelFor(m=>layoutModel.Friends)
                                    </div>
                                </a>
                            </div>

                            <div class="ReferenceContainer">
                                <a href="@Url.Action("AccountPage","UserHome",new {area="User"})">
                                    <div>
                                        @Html.LabelFor(m=>layoutModel.Account)
                                    </div>
                                </a>
                            </div>

                            <div class="ReferenceContainer">
                                <a href="@Url.Action("SubscriptionsPage","UserHome",new {area="User"})">
                                    <div>
                                        @Html.LabelFor(m=>layoutModel.Subscriptions)
                                    </div>
                                </a>
                            </div>
                            @if(HttpContext.Current.Request.Cookies["Role"].Value == "admin")
                            {
                            <div class="ReferenceContainer">
                                <a href="@Url.Action("AdministrationPage","AdminHome",new {area="Admin"})">
                                    <div>
                                        @Html.LabelFor(m=>layoutModel.Administration)
                                    </div>
                                </a>
                            </div>
                            }
                        </div>
                    </div>
                       
                    }
                    } 
                    <div id="LocalizationContainer">
                        <div id="LocalizationContainerRow">
                            <div class="ReferenceContainer">
                                <a href="/Home/ChangeCurrentCulture/0">
                                    <div>
                                        @Html.Label("EN")
                                    </div>
                                </a>
                            </div>

                            <div class="ReferenceContainer">
                                <a href="/Home/ChangeCurrentCulture/1">
                                    <div>
                                        @Html.Label("RU")
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="SearchContainer">
                        <div id="SearchContainerRow">
                            <div id="SearchContainerContent">
                                <form action="@Url.Action("UsersPage", "Home", new {area="" })">
                                    <input name="searchString" placeholder="search" />
                                    <input type="submit" value="Search" />
                                </form>
                            </div>
                        </div>
                    </div>
                    @{
                        if (HttpContext.Current.Request.Cookies == null ||
                          HttpContext.Current.Request.Cookies["Role"] == null ||
                          (HttpContext.Current.Request.Cookies["Role"].Value != "admin" &&
                          HttpContext.Current.Request.Cookies["Role"].Value != "user"))
                        {
                    <div id="RegisterLoginContainer">
                        <div id="RegisterLoginContainerRow">
                            <div class="ReferenceContainer">
                                <a href="/Home/RegisterPage">
                                    <div>
                                        @Html.LabelFor(m=>layoutModel.Register)
                                    </div>
                                </a>
                            </div>

                            <div class="ReferenceContainer">
                                <a href="/Home/LoginPage">
                                    <div>
                                        @Html.LabelFor(m=>layoutModel.Login)
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    }
                    else
                    {
                        <div id="RegisterLoginContainer">
                        <div id="RegisterLoginContainerRow">
                            <div class="ReferenceContainer">
                                <a href="@Url.Action("Logout","UserHome",new {area="User"})">
                                    <div>
                                        @Html.LabelFor(m=>layoutModel.Logout)
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    }
                    }
                </div>
            </div>
        </div>

        <div id="MiddleContainer">
            @RenderSection("Body")
        </div>

        <div id="FooterContainer">
            <div id="FooterContentContainer">
                <div id="FooterContentContainerRow">
                    <div id="PolicyAboutContainer">
                        <div id="PolicyAboutContainerRow">
                            <div class="ReferenceContainer">
                                <a href="/Home/AboutPage">
                                    <div>
                                        @Html.LabelFor(m=>layoutModel.About)
                                    </div>
                                </a>
                            </div>

                            <div class="ReferenceContainer">
                                <a href="/Home/PrivatePolicyPage">
                                    <div>
                                        @Html.LabelFor(m=>layoutModel.Policy)
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
